﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Menu.Master" AutoEventWireup="true" CodeBehind="menu.aspx.cs" Inherits="Catedra_master.menu" %>
<asp:Content ID="titu" ContentPlaceHolderID="menu" runat="server">
     
                <li runat="server" id="listUsuario"><a  href="listUsuario.aspx" class="button
special">Usuarios</a></li>
                <li runat="server" id="listProducto"><a  href="listProducto.aspx" class="button
special">Productos</a></li>
                <li runat="server" id="listInventario"><a  href="listInventario.aspx" class="button
special">Inventario</a></li>
                <li runat="server" id="listCliente"><a  href="listCliente.aspx" class="button
special">Clientes</a></li>
                <li runat="server" id="listProveedor"><a  href="listProveedor.aspx" class="button
special">Proveedores</a></li>
                <li runat="server" id="listaSolicitudes"><a  href="Compra.aspx" class="button
special">Compras</a></li>
    <li runat="server" id="Venta"><a  href="Venta.aspx" class="button
special">Compras</a></li>
            <li runat="server" id="FacturasTodas"><a  href="FacturasTodas.aspx" class="button
special">Facturas</a></li>
     <li runat="server" id="verSolicitud"><a  href="verSolicitud.aspx" class="button
special">Facturar</a></li>
</asp:Content>
<asp:Content ID="cuerpo" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>FÉNIX Alimentos</h2>
            </header>
            <section>
                <asp:Image ID="Image1" runat="server" AlternateText="Logo" GenerateEmptyAlternateText="True" Height="50%" ImageAlign="Middle" ImageUrl="~/images/logo.png" Width="100%" />
            </section>
        </div>
    </div>
</asp:Content>
